## Decision Tree Classifiers

In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt

**Read csv file through pandas**

In [2]:

df = pd.read_csv('mldata.csv')
df.head()

   age  weight gender likeness   height
0   27    76.0   Male  Biryani  170.688
1   41    70.0   Male  Biryani      165
2   29    80.0   Male  Biryani      171
3   27   102.0   Male  Biryani      173
4   29    67.0   Male  Biryani      164

**Replace values of Male and Female into 0 & 1**

In [3]:

df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)

In [4]:
df.tail()

     age  weight  gender likeness height
240   31    60.0       1   Pakora    160
241   26    70.0       1  Biryani    172
242   40    80.0       1  Biryani    178
243   25    65.0       1  Biryani    5.7
244   33    56.0       0   Samosa    157

**Selection of input and output variables**

In [5]:

X = df[['weight', 'gender']]
y = df['likeness']

In [6]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [7]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

**Machine Learning Algorithm**

In [8]:
# Import scikit learn library from where we select algorithm
from sklearn.tree import DecisionTreeClassifier

**Initialize/Create and fit the model**

In [9]:
model = DecisionTreeClassifier().fit(X, y)

**Predict the model**

In [10]:
model.predict([[60, 1]])

C:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [11]:
model.predict([[95, 0]])

C:\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

**How to measure the accuracy of our model**

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
 
# Split data into train and test (80 , 20)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=0)

# Create a model
model = DecisionTreeClassifier()
# fit the model
model.fit(X_train, y_train)
# Predicted Values 
predicted_values = model.predict(X_test)
predicted_values

# Actual Values
actual_values = y_test

# Checking Score of variable
score = accuracy_score(actual_values, predicted_values)
score

0.6122448979591837

***Save your model***

In [34]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib

In [38]:
model = DecisionTreeClassifier().fit(X, y)
joblib.dump(model, 'foodie.joblib')

['foodie.joblib']

## Assignment

**How to import/run our stored or save model on our data?**

In [42]:
job_loaded_file = joblib.load('foodie.joblib')

TypeError: 'DecisionTreeClassifier' object is not callable